@model List<Entity.View.CartItem>

<div class="cart">
    <p>
        Chào mừng đến với GIA HƯNG Electronics! <span><a href="/gio-hang">Giỏ hàng:</a></span>
            @Model.Count() (SP)
    </p>
</div>
